body {
  margin: 0px;
}

.main-container {
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
}
header a {
  display: flex;
  height: 30px;
  width: 38px;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
}
header a i {
  font-size: 20px;
  color: #101010;
}
header .headerh1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 100%;
  background: var(--White, #FFF);
}
header .headerh1 h1 {
  color: var(--Black, #101010);
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  display: flex;
  padding: 0px 19px 0px 16px;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}
main img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 40% 100%;
}
@media (min-width: 1025px) {
  main img {
    height: 393.66px;
    object-position: 43% 71%;
  }
}
main .menu {
  width: 100%;
  margin-top: -53px;
  border-radius: 40px 40px 0px 0px;
  background: var(--Background, #F6F6F6);
}
@media (min-width: 1025px) {
  main .menu {
    display: flex;
    width: 74%;
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}
main .menu .la-palette {
  margin-top: 37px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 1025px) {
  main .menu .la-palette {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 40px;
    gap: 24px;
  }
}
main .menu .la-palette h1 {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
main .menu .la-palette .icon-heart {
  display: none;
}
main .menu .la-palette .icon-heart:checked + .icon .fa-regular {
  display: none;
  /* Hide the default icon when checked */
}
main .menu .la-palette .icon-heart:checked + .icon .fa-solid {
  display: inline;
  /* Show the alternate icon when checked */
}
main .menu .la-palette .icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}
main .menu .la-palette .icon .fa-heart {
  font-size: 22px;
}
main .menu .la-palette .icon .fa-solidd {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
main .menu .menu1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 13px;
  margin-right: 13px;
}
@media (min-width: 1025px) {
  main .menu .menu1 {
    margin: auto;
  }
}
main .menu .menu1 .entrees {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .menu .menu1 .entrees h1 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  height: 27px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin: 0px;
}
main .menu .menu1 .entrees .box {
  overflow: hidden;
  position: relative;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  animation: boxfadein 3s ease-out;
}
@media (min-width: 1025px) {
  main .menu .menu1 .entrees .box {
    width: 604px;
  }
}
@keyframes boxfadein {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
main .menu .menu1 .entrees .box .check {
  display: flex;
  flex-direction: row;
  gap: 15px;
  transform: translateX(45px);
  cursor: pointer;
  transition: transform 80ms ease-in-out 80ms;
}
main .menu .menu1 .entrees .box .check:hover {
  transform: translateX(0px);
}
main .menu .menu1 .entrees .box .check p {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  height: 18px;
  margin-top: 42px;
}
main .menu .menu1 .entrees .box .check .check1 {
  position: relative;
  border-radius: 0px 15.043px 15.043px 0px;
  background-color: #63E6BE;
  width: 45px;
}
main .menu .menu1 .entrees .box .check .check1 .fa-circle-check {
  position: absolute;
  left: 13px;
  top: 34px;
  color: #faf9f9;
}
main .menu .menu1 .entrees .box .txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin: 15px;
  margin-right: 0px;
  overflow: hidden;
}
main .menu .menu1 .entrees .box .txt h2 {
  margin: 0px;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 21px;
}
main .menu .menu1 .entrees .box .txt h3 {
  margin: 0px;
  overflow: hidden;
  color: #000;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .menu .menu1 #commander1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 450ms;
}
main .menu .menu1 #commander1:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
main .menu .menu1 #commander1 .commander {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
main .menu .menu1 #commander1 .commander h4 {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  background-color: var(--Grey, #353535);
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 1025px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
footer h1 {
  width: 137.582px;
  height: 27px;
  flex-shrink: 0;
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 0px;
}
@media (min-width: 1025px) {
  footer h1 {
    margin: 0px;
  }
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  footer .contact {
    flex-direction: row;
  }
}
footer .contact .proposer,
footer .contact .devenir {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
}
footer .contact p {
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 168px;
  margin: 0px;
}
@media (min-width: 1025px) {
  footer .contact p {
    display: flex;
    align-items: center;
  }
}
footer .contact i {
  font-size: 13px;
  color: white;
}
footer .contact .fa-handshake-simple {
  rotate: 300deg;
}

/*# sourceMappingURL=styles1.css.map */
