body {
  margin: 0px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure loader is on top */
  animation: fadeOut 2s forwards;
  /* Fade out animation over 3 seconds */
}
.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #3498db;
  /* Light blue border */
  border-top: 5px solid transparent;
  /* Transparent border-top for the spin effect */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  /* Spin animation */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.main-container {
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .headerh1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 13px;
  position: relative;
  background: var(--White, #FFF);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1025px) {
  header .headerh1 {
    height: 34.2px;
    padding-top: 30px;
    padding-bottom: 31.8px;
  }
}
header .headerh1 h1 {
  color: var(--Black, #101010);
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  display: flex;
  padding: 0px 19px 0px 16px;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 17px;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--Grey-2, #EAEAEA);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header nav p {
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav i {
  color: var(--Grey, #353535);
}

.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  background: var(--Background, #F6F6F6);
}
@media (min-width: 1025px) {
  .reserve {
    height: 239px;
  }
}
.reserve h1 {
  height: 68px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 39px;
  margin-left: 42px;
  margin-right: 58px;
  margin-bottom: 0px;
}
@media (min-width: 1025px) {
  .reserve h1 {
    height: 47px;
    margin-top: 30px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 40px;
  }
}
.reserve h2 {
  height: 46px;
  flex-shrink: 0;
  color: var(--Grey, #353535);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 26px;
  margin-left: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .reserve h2 {
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.reserve .reserveh3 {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 27px;
  margin-bottom: 57px;
  cursor: pointer;
  transition: all 450ms;
}
@media (min-width: 1025px) {
  .reserve .reserveh3 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.reserve .reserveh3:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.reserve .reserveh3 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 1025px) {
  .container-center {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1025px) {
  .fonctionnement {
    padding: 50px 0px;
    gap: 25px;
    margin: 0px;
  }
}
.fonctionnement h1 {
  height: 31px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-bottom: 26px;
}
@media (min-width: 1025px) {
  .fonctionnement h1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.fonctionnement .fonc {
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  margin-bottom: 68px;
}
@media (min-width: 1025px) {
  .fonctionnement .fonc {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }
}
.fonctionnement .fonc .fon {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-left: 12px;
}
@media (min-width: 1025px) {
  .fonctionnement .fonc .fon {
    flex: 1;
  }
}
.fonctionnement .fonc .fon .number {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--Primary, #9356DC);
  position: absolute;
  left: -10px;
}
.fonctionnement .fonc .fon .number p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fonctionnement .fonc .fon .fonc1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: 72.379px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 33.47px;
  gap: 27px;
}
.fonctionnement .fonc .fon .fonc1 .fa-mobile-screen-button {
  font-size: 19.019px;
  flex-shrink: 0;
  color: var(--Grey-Tint4, #7E7E7E);
}
.fonctionnement .fonc .fon .fonc1 .fa-list-ul {
  font-size: 16px;
  flex-shrink: 0;
  color: var(--Grey-Tint4, #7E7E7E);
}
.fonctionnement .fonc .fon .fonc1 .fa-store {
  font-size: 18px;
  flex-shrink: 0;
  color: var(--Primary, #9356DC);
}
.fonctionnement .fonc .fon .fonc1 p {
  height: 15.67px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
@media (min-width: 1025px) {
  .fonctionnement .fonc .fon .fonc1 p {
    display: flex;
    flex-shrink: 1;
    align-items: center;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background: var(--Background, #F6F6F6);
}
@media (min-width: 1025px) {
  .restaurants {
    padding: 30px 0px;
  }
}
.restaurants p {
  display: flex;
  margin-top: 54px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 20px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 1025px) {
  .restaurants p {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 28px;
  }
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-right: 18px;
  margin-left: 17px;
  margin-bottom: 66px;
}
@media (min-width: 1025px) {
  .restaurants .cards {
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.restaurants .cards .card1 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1025px) {
  .restaurants .cards .card1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
  }
}

.card {
  display: flex;
  height: 251px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (min-width: 1025px) {
  .card {
    flex: 1;
  }
}
.card a {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}
.card a .nouveau {
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--Green, #99E2D0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 12px;
  top: 12px;
}
.card a .nouveau h3 {
  display: flex;
  width: 61.37px;
  color: var(--Green-Font, #008766);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 9px;
}
.card a .img {
  height: 174px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: center 62%;
}
.card a .coeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.card a .coeur .txt {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 13px;
  margin-bottom: 12px;
  gap: 5px;
  height: 49px;
}
.card a .coeur .txt h1 {
  height: 20px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.card a .coeur .txt h2 {
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}
.card a .coeur .icon-heart {
  display: none;
}
.card a .coeur .icon-heart:checked + .icon .fa-regular {
  display: none;
}
.card a .coeur .icon-heart:checked + .icon .fa-solid {
  display: inline;
}
.card a .coeur .icon {
  cursor: pointer;
}
.card a .coeur .icon .fa-solid {
  display: flex;
  font-size: 22px;
  position: absolute;
  right: 28px;
  top: 23px;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.card a .coeur .icon .fa-regular {
  display: flex;
  font-size: 22px;
  position: absolute;
  right: 28px;
  top: 23px;
  color: #101010;
}

footer {
  background-color: var(--Grey, #353535);
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 1025px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
footer h1 {
  width: 137.582px;
  height: 27px;
  flex-shrink: 0;
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 0px;
}
@media (min-width: 1025px) {
  footer h1 {
    margin: 0px;
  }
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  footer .contact {
    flex-direction: row;
  }
}
footer .contact .proposer,
footer .contact .devenir {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
}
footer .contact p {
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 168px;
  margin: 0px;
}
@media (min-width: 1025px) {
  footer .contact p {
    display: flex;
    align-items: center;
  }
}
footer .contact i {
  font-size: 13px;
  color: white;
}
footer .contact .fa-handshake-simple {
  rotate: 300deg;
}

/*# sourceMappingURL=styles.css.map */
